version: '3'

services:
  backend:
    container_name: backend
    image: backend
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/backend
    # networks:
    #   - ft_transcendence
  
  frontend:
    container_name: frontend
    image: frontend
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./backend/media/images:/usr/share/nginx/html/media/images

