*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
      color: #FFFFFF;
}
html , body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#222834;
  scroll-behavior: smooth;
  /* overflow: hidden; */
  overflow-x: hidden;
}

.fa-solid{
  margin-top: 30px;

}

.nav-02{
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 80%;
  margin-bottom: 20px;
  /* align-items: center; */
}

/* .cycle {
  position: absolute;
  height: 775px;
  width: 747px;
  left: 444px;
  top: 183px;
  border-radius: 1000px;
  background: conic-gradient(#800200 , #e01010);
  filter: blur(350px);
} */

/* background: conic-gradient(red, blue); */

/* .cycle-astro {
  position: absolute;
  left: 1083px;
  top: 183px;
  width: 745px;
  height: 747px;
  border-radius: 1000px;
  background: conic-gradient(#cccccc , #ffffff);
  filter: blur(450px);
} */

/* .content-first-pg{
  position: absolute;
  top : 228px;
  left: 50px;
  color: white;
} */

/* .img-firstpg {
  width: 922px;
  height: 843px;
  position: absolute;
  top: -200px;
  left: 900px;
} */

/* .title-firstpg{
  font-size: 90px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(248, 248, 248);
  color: #0e0c0c00;

}
.content-first-pg h1{

  font-size: 90px;
}

.content-first-pg p{
  font-size: 30px;
  width: 906px;
  height: 96px;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn-firstpg{

  font-size: 18px;
  text-decoration: none;
  background-color: #800200;
  color: #ffffff;
  padding: 20px 66px 20px 66px;
  border-radius: 11px;
}

.shadow-firstpg-1
{
  width: 100%;
  height: 316px;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) , rgb(0, 0, 0),rgb(0, 0, 0));
} */



.parent{
  display: flex;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar{
  background-color: #293247 ;
  flex-basis: 3%;
  /* background-image: ; */
  display: none;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  border-radius: 18px;
  margin-right: 0;
}

#content{
  flex-basis: 93%;
  height: 95vh;
  border-radius: 25px;
}
/* .nav-bar a:hover{
  background: #293247 ;

} */

.nav-bar a:hover{
    scale: 1.1;
    background-color: #293247
}
